click==8.3.1
deepdiff==8.6.1
dotenv==0.9.9
grpcio==1.76.0
grpcio-tools==1.76.0
ImageIO==2.37.2
imutils==0.5.4
lazy_loader==0.4
natsort==8.4.0
networkx==3.6.1
numpy==2.4.2
opencv-python-headless==4.13.0.92
orderly-set==5.5.0
overrides==7.7.0
packaging==26.0
parsimonious==0.11.0
pillow==12.1.0
protobuf==6.33.2
psutil==7.2.1
pylibdmtx==0.1.10
PyMuPDF==1.26.7
pytesseract==0.3.13
python-dotenv==1.2.1
PyYAML==6.0.3
pyzbar==0.1.9
regex==2026.1.15
robotframework==7.4.1
robotframework-assertion-engine==3.0.3
robotframework-browser==19.12.3
robotframework-doctestlibrary==0.31.0
robotframework-pythonlibcore==4.4.1
scikit-image==0.26.0
scipy==1.17.0
seedir==0.5.1
setuptools==80.9.0
tifffile==2026.1.28
typing_extensions==4.15.0
Wand==0.6.13
wrapt==2.0.1
